body {
    padding-top: 50px;
    position: relative;
    min-height: 100vh;
    line-height: 1.5
}

main {
    margin-bottom: 10px;
}

footer {
    background-color: #222222;
    color: white;
    padding: 15px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

    footer p {
        margin: 0;
    }

figure {
    overflow: hidden;
}

    figure img {
        width: 100%;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.page-background {
    width: 100%;
    height: 80vh;
    position: relative;
    margin-bottom: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .page-background .contenedor {
        overflow: hidden;
    }

.img-vw {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center top;
    filter: blur(1px);
    transform: scale(1.1);
}

.img-small {
    background-size: cover;
    position: absolute;
    width: 90vw;
    max-width: 680px;
    height: 75%;
    top: 30%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    border-radius: 3px;
    /*box-shadow: 0 -2px 2px rgba(0,0,0,.5), -3px 0 2px rgba(0,0,0,.5), 0 3px 3px rgba(0,0,0,.8), 3px 0 2px rgba(0,0,0,.5);*/
    box-shadow: 0 2px 20px rgba(0,0,0,.5);
}

.page-background .texto {
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.6));
    padding: 30px;
    color: white;
    text-align: center;
    padding: 5em;
    width:100%;
}

    .page-background .texto h1 {
        margin: 0;
        font-weight: 400;
        font-style: italic;
        font-size: 30px;
        font-family: 'Segoe UI';
    }

.flex {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.form-horizontal {
    width: 49%;
}

.foto-pelicula {
    width: 50%;
}

.form-horizontal dt {
    margin-bottom: 1.2em;
}


/*#region Detalle Peliculas*/

.movie-details{

}

    .movie-details .generos-formatos {
        margin-top:-2.5em;
        text-align: center;
        font-size: 1em;
    }

    .movie-details .generos-formatos span:last-child{
        color:green;
        font-weight:bold;
        margin:10px 0;
        font-size:1.2em;
        display:block;
    }

    .movie-details .generos-formatos span i{
        margin:0 3px;
    }

    .movie-details .descripcion, .movie-details .sinopsis{
        text-align:center;
    }

    .movie-details .descripcion{
        font-style:italic;
    }
/*#endregion*/